*#
*.csv
*.dat
*.gz
*.lock
*.log
*.out
*.pid
*.rdb
*.seed
*.swp
*.suo
*~
.\#*
.dpd
.DS_Store
.idea
.netbeans
.nodemonignore
.rigging
.sails
.sass-cache/
.swp
.tmp
.vagrant
.waterline
bower_components/
config/local.js
data
lib-cov
lib
logs
logs
nbproject
node_modules
npm-debug.log
pids
src/public/lib/
results
ssl
tmp
atlassian-ide-plugin.xml
.idea/
