div
	p This is a simple website meant to showcase my basic Angular skills and coding style
	p Angular Components used:
		ul
			li directives (Members Table)
			li angular-router
			li ng-repeat
			li html form
			li service

	p Other things used:
		ul
			li node.js
			li npm
			li bower
			li express.js
			li bootstrap