div
	p This is a simple website meant to showcase my basic Angular skills and coding style
	p Angular Components used:
		ul
			li angular-router
			li html form
			li service
			li ng-repeat

	p Other things used:
		ul
			li node.js
			li npm
			li bower
			li express.js
			li bootstrap