.responsive-slider(data-spy='responsive-slider', data-autoplay='true')
    .slides.box-shadow(data-group='slides', style="margin-bottom: 20px;")
        ul
            li
                .slide-body(data-group='slide')
                    img(src='../img/applewood.png')
            li
                .slide-body(data-group='slide')
                    img(src='../img/douglasdale1.png')
            li
                .slide-body(data-group='slide')
                    img(src='../img/douglasdale2.png')
        .pages
            a.page(href='#', data-jump-to='1', style="margin:2px;") 1
            a.page(href='#', data-jump-to='2', style="margin:2px;") 2
            a.page(href='#', data-jump-to='3', style="margin:2px;") 3
    .col-lg-4
        h2 Efficient
        p
          | We believe efficiency is achieved through both experience and innovation.
    .col-lg-4
        h2 Straightforward
        p
          | We believe an upfront, clear, and concise development process is good business.
    .col-lg-4
        h2 Design
        p
          | We believe the pursuit of improved functionality is the hallmark of good design.