table.table.table-hover(ng-controller = 'membersController')
    tr
        th First Name
        th Last Name
        th Phone Number
        th
    tr(ng-repeat= 'member in members track by $index')
        td {{member.firstName}}
        td {{member.lastName}}
        td {{member.phoneNumber}}
        td
            button.btn.btn-warning(ng-click='deleteMember($index)') Delete